body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    position: relative;
}
p {
    margin: 0px;
    padding: 0px;
}
#header {
    margin-top: 0px;
    height: 100vh;
    min-height: 720px;
    background-color: lightgray;
    position: relative;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background: url(../img/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#button_menu {
    position: absolute;
    width: 47px;
    height:47px;
    border-radius: 50%;
    background: #979898;
    right: 0px;
    margin: 100px;
    z-index: 1;
}
/* menuThree */
.menuThree{
  width: 24px;
  height: 24px;
  margin: 12px 12px;
  position: relative;
  cursor: pointer;
  display: inline-block;

}
.menuThree span{
  background-color:#2f3031;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.menuThree span:nth-child(1){
  width: 100%;
  height:  2px;
  display: block;
  top: 4px;
  left: 0px;
}
.menuThree span:nth-child(2){
  width: 100%;
  height:  2px;
  display: block;
  top: 11px;
  left: 0px;
}
.menuThree span:nth-child(3){
  width: 100%;
  height:  2px;
  display: block;
  bottom: 3px;
  left: 0px;
}
.menuThree:not(.clickMenuThree):hover span:nth-child(1){
  width: 100%;
  height:  2px;
  display: block;
  top: 0px;
  left: 0px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.menuThree:not(.clickMenuThree):hover span:nth-child(2){
  width: 100%;
  height:  2px;
  display: block;
  top: 11px;
  left: 0px;
  transition: .4s cubic-bezier(.8, .5, .2, 1.4);
}
.menuThree:not(.clickMenuThree):hover span:nth-child(3){
  width: 100%;
  height:  2px;
  display: block;
  bottom: 0px;
  left: 0px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.clickMenuThree {
  transform: rotate(-90deg);
}
.clickMenuThree span:nth-child(1){
  left:0px;
  top: 10px;
  width: 25px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(90deg);
  transition-delay: 150ms;
}
.clickMenuThree span:nth-child(2){
  left:0px;
  top: 17px;
  width: 15px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(45deg);
  transition-delay: 50ms;
}
.clickMenuThree span:nth-child(3){
  left:10px;
  top: 17px;
  width: 15px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(-45deg);
  transition-delay: 100ms;
}

.photo_profile{
    display: flex;
    justify-content: center;
}
.background_circle{
    width: 360px;
    height: 360px;
    overflow: hidden;
    border-radius: 50%;
    border: 12px solid rgba(255, 255, 255, 0.13);
  
}
.photo {
    background: url(../img/bruno-mars-photos-full.png);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: -403px -3px;
    width: 100%;
    height: 100%;
}
.fullname_autor {
     margin-bottom: 30px;
}
.fullname_autor h1 {
    font-family: "Taiga",sans-serif;
    text-align: center;
    font-size: 44px;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}
.fullname_autor p {
    font-family: "Raleway-Regular",sans-serif;
    color: #1f98ad;
    font-size: 24px;
    text-align: center;
}

.button_follow_hire {
    display: flex;
    justify-content: center;
    align-content: center;
}
.button_follow_hire a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.05);
    font-family: "Raleway-Regular",sans-serif;
    padding: 1em;
    font-size: 24px;
}
.button_follow_hire a:nth-child(1) {
    margin-right: 15px;
}