body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    position: relative;
}
p {
    margin: 0px;
    padding: 0px;
}
#header {
    margin-top: 0px;
    height: 100vh;
    min-height: 720px;
    background-color: lightgray;
    position: relative;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background: url(../img/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#button_menu {
    position: fixed;
    width: 47px;
    height:47px;
    border-radius: 50%;
    background-color: #979898;
    right: 0px;
    margin: 50px 50px 50px 50px;
    z-index: 2;
}
/* menuThree */
.menuThree{
  width: 24px;
  height: 24px;
  margin: 12px 12px;
  position: relative;
  cursor: pointer;
  display: inline-block;

}
.menuThree span{
  background-color:#2f3031;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.menuThree span:nth-child(1){
  width: 100%;
  height:  2px;
  display: block;
  top: 4px;
  left: 0px;
}
.menuThree span:nth-child(2){
  width: 100%;
  height:  2px;
  display: block;
  top: 11px;
  left: 0px;
}
.menuThree span:nth-child(3){
  width: 100%;
  height:  2px;
  display: block;
  bottom: 3px;
  left: 0px;
}
.menuThree:not(.clickMenuThree):hover span:nth-child(1){
  width: 100%;
  height:  2px;
  display: block;
  top: 0px;
  left: 0px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.menuThree:not(.clickMenuThree):hover span:nth-child(2){
  width: 100%;
  height:  2px;
  display: block;
  top: 11px;
  left: 0px;
  transition: .4s cubic-bezier(.8, .5, .2, 1.4);
}
.menuThree:not(.clickMenuThree):hover span:nth-child(3){
  width: 100%;
  height:  2px;
  display: block;
  bottom: 0px;
  left: 0px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.clickMenuThree {
  transform: rotate(-90deg);
}
.clickMenuThree span:nth-child(1){
  left:0px;
  top: 10px;
  width: 25px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(90deg);
  transition-delay: 150ms;
}
.clickMenuThree span:nth-child(2){
  left:0px;
  top: 17px;
  width: 15px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(45deg);
  transition-delay: 50ms;
}
.clickMenuThree span:nth-child(3){
  left:10px;
  top: 17px;
  width: 15px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(-45deg);
  transition-delay: 100ms;
}
.slide_menu.hiden{
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    right: -300px;
    transition: 0.3s;
}
.slide_menu{
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    right: 0px;
    background-color: #979898;
    padding-top: 140px;
    transition: 0.3s;
}
.list-menu {
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-menu ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-top: 60px;
}
.list-menu ul li{
    text-align: center;
}
.list-menu ul li a{
    padding: 20px;
    text-decoration: none;
    display: block;
    font-size: 24px;
    line-height: 26px;;
    font-family: "Raleway-Bold",sans-serif;
    color: rgba(255, 255, 255, 0.75);
    position: relative;
}
.list-menu ul li a:hover{
    color: rgb(255, 255, 255);
}
.list-menu ul li a:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 70%;
    background-color: rgba(136, 204, 216, 0);
    bottom: 0px;
    top: 55px;
    left: 0px;
    transform: translate(20%);
    transition: 0.3s;
}
.list-menu ul li a:hover:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 70%;
    background-color: #88ccd8;
    bottom: 0px;
    top: 55px;
    left: 0px;
    transform: translate(20%);
    transition: 0.3s;
}
.photo_profile{
    display: flex;
    justify-content: center;
}
.background_circle{
    width: 360px;
    height: 360px;
    overflow: hidden;
    border-radius: 50%;
    border: 12px solid rgba(255, 255, 255, 0.13);
  
}
.photo {
    background: url(../img/bruno-mars-photos-full.png);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: -403px -3px;
    width: 100%;
    height: 100%;
}
.fullname_autor {
     margin-bottom: 30px;
}
.fullname_autor h1 {
    font-family: "Taiga",sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 44px;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}
.fullname_autor p {
    font-family: "Raleway-Regular",sans-serif;
    color: #1f98ad;
    font-size: 24px;
    text-align: center;
}
.button_follow_hire {
    display: flex;
    justify-content: center;
    align-content: center;
}
.button_follow_hire a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.05);
    font-family: "Raleway-Regular",sans-serif;
    padding: 1em;
    font-size: 24px;
}
.button_follow_hire a:nth-child(2) {
    margin-left: 15px;
}
/* About me */
#about_me {
    border-color: #d7d7d7;
    height: auto;
    padding-bottom: 30px;
    min-height: 831px;
}
.title {
    padding-top: 70px;
    margin-bottom: 75px;
}
.title.services h1{
    color: white;
}
.title h1 {
    font-family: "Raleway-Black";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: #595959;
    margin: 0px;
    margin-bottom: 20px;
}
.title hr {
    width: 116px;
    height: 8px;
    margin: auto;
    padding: 0px;
    border: 0px;
    background-color: #88ccd8;
}
.flex_designer_video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
}
.graphic_designer {
    width: 525px;
    padding: 20px;
}
.graphic_designer h2 {
    font-size: 24px;
    font-family: "Raleway-ExtraBold",sans-serif;
    color: #595959;
    margin: 0px;
    margin-bottom: 25px;
}
.graphic_designer h3{
    font-size: 24px;
    font-family: "Raleway-SemiBold",sans-serif;
    color: #595959;
    margin: 0px;
    margin-bottom: 25px;
}
.graphic_designer p{
    font-size: 16px;
    font-family: "Raleway-Regular",sans-serif;
    color: 7c7c7c;
    line-height: 30px;
    letter-spacing:0.4px;
}
/* Optim. img  */
.video {
    width: auto;
    margin-left: 40px;
    padding: 20px;
} 
.video img {
    width: 100%;
}
/* My Services  */
#my_services {
    height: auto;
    min-height: 867px;
    background: url(../img/my_services_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.flex_product_design {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1120px;
    margin: auto;
}
.item_product_design {
    width: 291px;
    color:rgba(243, 243, 243, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    padding: 10px;
    text-align: center;
}
.item_product_design h3 {
    font-family: "Raleway-Bold",sans-serif;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 20px;
}
.item_product_design p {
    font-family: "Raleway-Regular",sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0px;
}
.item_product_design:nth-child(3n+2) {
    margin-left: 90px;
    margin-right: 90px;
}
.item_product_design img {
    opacity: 0.7;
}
/* Portfolio */
#portfolio {
    padding-bottom: 60px;
}
.galary_box {
    display: flex;
    justify-content: center;
}
.flexbox_gallary {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 1040px;
}
.item_gallary {
    width: 260px;
    height: 200px;
    overflow: hidden;
}
.item_gallary:hover {
    cursor: pointer;
}
.item_gallary:hover .link_project{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #cfcfcf;
    background-color: rgba(21, 32, 40, 0.9);
    transition: 0.5s background-color;
}
.link_project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: rgba(207, 207, 207, 0);
}
.link_project h4 {
    font-family: "Raleway-ExtraLight",sans-serif;
    font-size: 24px;
    line-height: 26px;
    margin: 0px;
    margin-top: 15px;
}
.link_project p {
    font-family: "Raleway-Bold",sans-serif;
    font-size: 16px;
    line-height: 26px;
}
/* Blog */
#my_blog {
    background-color: #f3f3f3;
    padding-bottom: 75px;
}
.flexbox_blog {
    height: auto;
    margin: auto;
    width: 1061px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
.flexbox_column {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.flexbox_column:nth-child(2){
    margin-left: 65px;
    margin-right: 65px;
}
.item_blog {
    width: 310px;
    padding: 20px 15px 30px 15px;
    background-color: white;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) ;
    margin-bottom: 60px;
}
.img_blog {
    width: 278px;
    height: 175px;
    margin-bottom: 25px;
}
.button_see_more {
    display: flex;
    justify-content: flex-end;
}
.link_see_more {
    margin: 10px;
    padding: 10px;
    background-color: #64c9db;
    font-size: 18px;
    line-height: 22px;
    font-family: "Raleway_SemiBold",sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing:0.4px;
}
.text_blog {
    font-size: 16px;
    line-height: 22px;
    font-family: "Raleway_Medium",sans-serif;
    color: #595959;
    text-transform: uppercase;
    letter-spacing:0.4px;
    margin: 0px;
    margin-left: 20px;
    width: 243.88px;
}
.autor_value_comments {
    font-size: 14px;
    line-height: 22px;
    font-family: "Raleway_Regular",sans-serif;
    font-weight: bold;
    color: #7c7c7c;
    text-transform: uppercase;
    letter-spacing:0.4px;
    margin: 0px;
    margin-left: 20px;
    width: 243.88px;
    margin-bottom: 25px;
}
.title_blog {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 18px;
    font-family: "Raleway_Regular",sans-serif;
    font-weight: bold;
    color: #595959;
    text-transform: uppercase;
    letter-spacing:0.4px;
    margin: 0px;
    margin-left: 20px;
    width: 243.88px;
}
.check_out {
    text-align: center;
    font-family: "Raleway_Regular",sans-serif;
    font-size: 24px;
    line-height: 26px;
    color: #515151;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;

}
/* Statistic */
#statistic {
    background: url(../img/Statistic_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 658px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbox_circle {
    height: 284px;
    width: 284px;
    border-radius: 50%;
    border: 7px solid white;
    position: relative;
}
.status_project {
    height: 100px;
    width: 291px;
    position: absolute;
    top: -145px;
    color: white;
    text-align: center;
}
.status_project p {
    font-family: "Raleway-Regular",sans-serif;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}
.circle_icon_projects {
    border-radius: 50%;
    height: 76px;
    width: 76px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #566473;
    font-size: 30px;
    margin-top: 25px;
}
.status_client {
    position: absolute;
    height: 115px;
    width: 180px;
    bottom: -15px;
    color: white;
    display: flex;
    align-items: flex-end;
    left: 0px;
    transform: translate(-125px);
}
.value_status_clients {
    font-family: "Raleway-Regular",sans-serif;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
}
.circle_icon_clients {
    border-radius:50%;
    height: 76px;
    width: 76px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #566473;
    font-size: 30px;
    position: absolute;
    right: 0px;
    top: -15px;
}
.status_satisfaction {
    position: absolute;
    height: 115px;
    width: 230px;
    bottom: -15px;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-flow: row-reverse;
    left: 0px;
    transform: translate(232px);
}
.circle_icon_satisfaction {
    border-radius:50%;
    height: 76px;
    width: 76px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #566473;
    font-size: 30px;
    position: absolute;
    left: 0px;
    top: -15px;
}
.value_status_satisfaction {
    font-family: "Raleway-Regular",sans-serif;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
}
/* contact_me */
.contact_me {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway-Medium",sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact_me p {
    font-size: 24px; 
    line-height: 22px;
    margin-right: 25px;
    color: #595959;
}
.contact_me a {
    text-decoration: none;
    padding: 10px;
    font-size: 24px; 
    padding: 1em;
    background-color: #5dbed2;
    color: white;
    border-radius: 10px;
    font-family: "Raleway-Regular";  
}
/* Footer */
#footer {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-top: 1px solid #cccccc;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    font-family: "Raleway-Medium",sans-serif;
    font-size: 18px;
    line-height: 60px;
    color: #8e8e8e;
    padding: 0px 10px 0px 10px;
}
.social_links ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
}
.social_links ul li{
    margin-right: 15px;
}
.social_links ul li a{
    text-decoration: none;
    font-size: 22px;
    line-height: 60px;
    color: #5e6c7b;
}