#nav_btn {
    width: 40px;
    height: 40px;
	border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #10c9c3;
    cursor: pointer;
}

#nav_img{
    width: 25px;
    height: 2px;
    background-color: #fff;
    display: block;
    position: relative;
    transition: 0.25s;
}

#nav_img::after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
    height: 2px;
    width: 25px;
    background-color: #fff;
    transition: top 0.25s, transform 0.25s;
}
#nav_img::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 0px;
    height: 2px;
    width: 25px;
    background-color: #fff;
     transition: top 0.25s, transform 0.35s;
}

#nav_btn.active #nav_img{
    background-color: transparent;
}

#nav_btn.active #nav_img::after{
    transform: rotate(45deg);
    top: 0px;
}

#nav_btn.active #nav_img::before{
    transform: rotate(-45deg);
    top: 0px;
}
